table.centered {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

select.control {
    width: auto;
    display: inline-block;
    background-color: #ffffdf;
}

input.control {
    width: auto;
    display: inline-block;
    background-color: #ffffdf;
}

textarea.control {
    background-color: #ffffdf;
}

label.control {
    vertical-align: middle;
}

tr > td {
    vertical-align: middle !important;
}

tr > td.vtop {
    vertical-align: top !important;
}

