td.icon-link
{
    text-align: center;
    vertical-align: middle;
    padding: 0 0;
}

td.icon-link:first-child {
    border-left: 1px solid #ddd;
}

td.icon-link:nth-child(3) {
    padding-right: 8px;
    border-right: 1px solid #ddd;
}

td.icon-link img {
    width: 16px;
    height: 16px;
    margin: 0;
}

