# Standard hookup, nothing special

Alias /newsledger /usr/share/newsledger
<Directory /usr/share/newsledger>
  order deny,allow
  deny from all
  allow from 192.168.0
</Directory>

# This can be used on a host with multiple newsledger databases
# One entry for each.  Just create a folder that is seperate for
# each database, and modify the include path below to point to
# it.  Then just create the inc/db.inc.php in that folder rather
# than in the original shared folder.

Alias /db1 /usr/share/newsledger
<Location "/db1">
   order deny,allow
   allow from all
   php_value include_path ".:/home/db1:/usr/share/newsledger"
</Location>

Alias /db2 /usr/share/newsledger
<Location "/db2">
   order deny,allow
   allow from all
   php_value include_path ".:/home/db2:/usr/share/newsledger"
</Location>
