button img {
    width: 16px;
    height: 16px;
}

label.control {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
    text-align: left;
}

label#notes {
    vertical-align: top;
}

textarea.control,
input.control,
select.control {
    display: inline-block;
    width: auto;
    background-color: #ffffdf;
    margin-bottom: 2px;
}

div.control {
    display: inline-block;
    min-width: 425px;
    width: auto;
    text-align: left;
}

label.vtop {
    vertical-align: top;
}

.info {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
