
label.control {
    display: inline-block;
    vertical-align: baseline;
    width: 100px;
    text-align: left;
}

input.control,
select.control {
    width: auto;
    display: inline-block;
    background-color: #ffffdf;
}

div.gutter {
    width: 100px;
    display: inline-block;
}

div.left {
    width: 35%;
    display: inline-block;
    text-align: left;
}
div.right {
    width: 35%;
    display: inline-block;
    text-align: left;
}

#paginate {
    margin-top: 1em;
    margin-bottom: 1em;
}

td.icon-link
{
    text-align: center;
    vertical-align: middle;
    padding: 0 0;
    max-width: 16px;
}

td.icon-link:first-child {
    border-left: 1px solid #ddd;
}

td.icon-link:nth-child(3) {
    padding-right: 8px;
    border-right: 1px solid #ddd;
}

td.icon-link img.icon-link {
    width: 16px;
    height: 16px;
    margin: 0;
}

