<!doctype html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width:device-width, initial-scale=1">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
	{% block styles %}{% endblock %}
    </head>
    <body>
	{% block header %}
	<div class="w3-row w3-display-container" id="header">
	    <div class="w3-display-bottomleft">{{ path }}</div>
	    {% if g.title %}
	    <div class="w3-center w3-xlarge">{{ g.title }}</div>
	    {% else %}
	    <div class="w3-center w3-xlarge">Newsledger</div>
	    {% endif %}
	    <div class="w3-display-bottomright">{{ current_user.name }}</div>
	</div>
	{% endblock %}
	{% block menu %}
	{% include 'menu.html' %}
	{% endblock %}
	{% block messages %}
	{% for message in get_flashed_messages() %}
	<div class="flash">{{ message }}</div>
	{% endfor %}
	{% endblock %}
	{% block content %}{% endblock %}
	{% block scripts %}{% endblock %}
    </body>
</html>

