
{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/customers/create.css') }}">
{% endblock %}

{% block content %}
<form data-turbo="false" class="w3-container w3-margin-top w3-center" method="post" action="{{ url_for('customers.create') }}">
    <div>Required Fields In <span class="w3-text-red">Red</span></div>
    <table class="w3-table w3-margin-top centered w3-border">
	<tbody>
            <caption>Delivery</caption>
	    <tr>
		<td>{{ form.delivery.name_.label(class='w3-text-red control') }}</td>
		<td>
		    {{ form.delivery.name_.title(class='w3-select w3-border control') }}
		    {{ form.delivery.name_.first(size=15, class='w3-input w3-border control', required=True) }}
		    {{ form.delivery.name_.last(size=15, class='w3-input w3-border control') }}
		    {{ form.delivery.name_.surname(size=5, class='w3-input w3-border control') }}
		    {% for error in form.delivery.name_.errors %}
		    <div class="error">{{ error }}</div>
		    {% endfor %}
		</td>
	    </tr>
	    <tr>
		<td>{{ form.delivery.name2.label(class='control') }}</td>
		<td>
		    {{ form.delivery.name2.title(class='w3-select w3-border control') }}
		    {{ form.delivery.name2.first(size=15, class='w3-input w3-border control') }}
		    {{ form.delivery.name2.last(size=15, class='w3-input w3-border control') }}
		    {{ form.delivery.name2.surname(size=5, class='w3-input w3-border control') }}
		    {% for error in form.delivery.name2.errors %}
		    <div class="error">{{ error }}</div>
		    {% endfor %}
		</td>
	    </tr>
	    <tr>
		<td>{{ form.delivery.dtype.label(class='w3-text-red control') }}</td>
		<td>
		    {{ form.delivery.dtype(class='w3-select w3-border control') }}
		    {% for error in form.delivery.dtype.errors %}
		    <div class="error">{{ error }}</div>
		    {% endfor %}
		</td>
	    </tr>
	    <tr>
		<td>{{ form.delivery.route.label(class='w3-text-red control') }}</td>
		<td>
		    {{ form.delivery.route(class='w3-select w3-border control') }}
		    {% for error in form.delivery.route.errors %}
		    <div class="error">{{ error }}</div>
		    {% endfor %}
		</td>
	    </tr>
	    <tr>
		<td>{{ form.delivery.start_date.label(class='w3-text-red control', required=True) }}</td>
		<td>
		    {{ form.delivery.start_date(class='w3-input w3-border control') }}
		    {% for error in form.delivery.start_date.errors %}
		    <div class="error">{{ error }}</div>
		    {% endfor %}
		</td>
	    </tr>
	    <tr>
		<td>{{ form.delivery.address.address1.label(class='w3-text-red control') }}</td>
		<td>
		    {{ form.delivery.address.address1(class='w3-input w3-border control', required=True) }}<br>
		    {{ form.delivery.address.address2(class='w3-input w3-border control') }}
		    {% for error in form.delivery.address.errors %}
		    <div class="error">{{ error }}</div>
		    {% endfor %}
		</td>
	    </tr>
	    <tr>
		<td>{{ form.delivery.address.city.label(class='w3-text-red control') }}/{{ form.delivery.address.state.label(class='w3-text-red control') }}/{{ form.delivery.address.postal.label(class='w3-text-red control') }}</td>
		<td>
		    {{ form.delivery.address.city(class='w3-input w3-border control', size=20, required=True) }}
		    {{ form.delivery.address.state(class='w3-input w3-border control') }}
		    {{ form.delivery.address.postal(class='w3-input w3-border control', size=10, required=True) }}
		    {% for error in form.delivery.address.city.errors %}
		    <div class="error">{{ error }}</div>
		    {% endfor %}
		    {% for error in form.delivery.address.state.errors %}
		    <div class="error">{{ error }}</div>
		    {% endfor %}
		    {% for error in form.delivery.address.postal.errors %}
		    <div class="error">{{ error }}</div>
		    {% endfor %}
		</td>
	    </tr>
	    <tr>
		<td>{{ form.delivery.telephone1.label(class='w3-text-red control') }}</td>
		<td>
		    {{ form.delivery.telephone1.type_(class='w3-select w3-border control') }}
		    {{ form.delivery.telephone1.number(class='w3-input w3-border control', size=12, required=True) }}
		    {% for error in form.delivery.telephone1.errors %}
		    <div class="error">{{ error }}</div>
		    {% endfor %}
		</td>
	    </tr>
	    <tr>
		<td>{{ form.delivery.telephone2.label(class='control') }}</td>
		<td>
		    {{ form.delivery.telephone2.type_(class='w3-select w3-border control') }}
		    {{ form.delivery.telephone2.number(class='w3-input w3-border control') }}
		    {% for error in form.delivery.telephone2.errors %}
		    <div class="error">{{ error }}</div>
		    {% endfor %}
		</td>
	    </tr>
	    <tr>
		<td>{{ form.delivery.telephone3.label(class='control') }}</td>
		<td>
		    {{ form.delivery.telephone3.type_(class='w3-select w3-border control') }}
		    {{ form.delivery.telephone3.number(class='w3-input w3-border control') }}
		    {% for error in form.delivery.telephone3.errors %}
		    <div class="error">{{ error }}</div>
		    {% endfor %}
		</td>
	    </tr>
	</tbody>
    </table>
    {{ form.delivery.name_.hidden_tag() }}
    {{ form.delivery.name2.hidden_tag() }}
    {{ form.delivery.address.hidden_tag() }}
    {{ form.delivery.telephone1.hidden_tag() }}
    {{ form.delivery.telephone2.hidden_tag() }}
    {{ form.delivery.telephone3.hidden_tag() }}
    {{ form.delivery.hidden_tag() }}
    <div>
	<button class="w3-button w3-border w3-light-gray w3-margin-top" type="submit" name="action" value="submit">Submit</button>
    </div>
    <table class="w3-table w3-margin-top centered w3-border">
	<tbody>
            <caption>Billing</caption>
	    <tr>
		<td>Name</td>
		<td>
		    {{ form.billing.name_.title(class='w3-select w3-border control') }}
		    {{ form.billing.name_.first(size=15, class='w3-input w3-border control') }}
		    {{ form.billing.name_.last(size=15, class='w3-input w3-border control') }}
		    {{ form.billing.name_.surname(size=5, class='w3-input w3-border control') }}
		</td>
	    </tr>
	    <tr>
		<td>Alternate Name</td>
		<td>
		    {{ form.billing.name2.title(class='w3-select w3-border control') }}
		    {{ form.billing.name2.first(size=15, class='w3-input w3-border control') }}
		    {{ form.billing.name2.last(size=15, class='w3-input w3-border control') }}
		    {{ form.billing.name2.surname(size=5, class='w3-input w3-border control') }}
		</td>
	    </tr>
	    <tr>
		<td>{{ form.billing.address.address1.label(class='control') }}</td>
		<td>{{ form.billing.address.address1(class='w3-input w3-border control') }}</td>
	    </tr>
	    <tr>
		<td>{{ form.billing.address.address2.label(class='control') }}</td>
		<td>{{ form.billing.address.address2(class='w3-input w3-border control') }}</td>
	    </tr>
	    <tr>
		<td>{{ form.billing.address.city.label(class='control') }}/{{ form.billing.address.state.label(class='control') }}/{{ form.billing.address.postal.label(class='control') }}</td>
		<td>
		    {{ form.billing.address.city(size=20, class='w3-input w3-border control') }}
		    {{ form.billing.address.state(class='w3-select w3-border control') }}
		    {{ form.billing.address.postal(size=10, class='w3-input w3-border control') }}
		</td>
	    </tr>
	    <tr>
		<td>Telephone 1</td>
		<td>
		    {{ form.billing.telephone1.type_(class='w3-select w3-border control') }}
		    {{ form.billing.telephone1.number(class='w3-input w3-border control') }}
		</td>
	    </tr>
	    <tr>
		<td>Telephone 2</td>
		<td>
		    {{ form.billing.telephone2.type_(class='w3-select w3-border control') }}
		    {{ form.billing.telephone2.number(class='w3-input w3-border control') }}
		</td>
	    </tr>
	    <tr>
		<td>Telephone 3</td>
		<td>
		    {{ form.billing.telephone3.type_(class='w3-select w3-border control') }}
		    {{ form.billing.telephone3.number(class='w3-input w3-border control') }}
		</td>
	    </tr>
	</tbody>
    </table>
    {{ form.billing.name_.hidden_tag() }}
    {{ form.billing.name2.hidden_tag() }}
    {{ form.billing.address.hidden_tag() }}
    {{ form.billing.telephone1.hidden_tag() }}
    {{ form.billing.telephone2.hidden_tag() }}
    {{ form.billing.telephone3.hidden_tag() }}
    {{ form.billing.hidden_tag() }}
    <div>
	<button class="w3-button w3-border w3-light-gray w3-margin-top" type="submit" name="action" value="submit">Submit</button>
    </div>
    <table class="w3-table w3-margin-top centered w3-border">
	<tbody>
            <caption>Notes</caption>
	    <tr>
		<td>{{ form.notes_.notes.label(class='control') }}</td>
		<td>{{ form.notes_.notes(class='w3-input w3-border control', rows=4, cols=50) }}</td>
	    </tr>
	    <tr>
		<td>{{ form.notes_.billing.label(class='control') }}</td>
		<td>{{ form.notes_.billing(class='w3-input w3-border control', rows=4, cols=32) }}</td>
	    </tr>
	    <tr>
		<td>{{ form.notes_.delivery.label(class='control') }}</td>
		<td>{{ form.notes_.delivery(class='w3-input w3-border control', rows=1, cols=50) }}</td>
	    </tr>
	</tbody>
    </table>
    {{ form.notes_.hidden_tag() }}
    <div>
	<button class="w3-button w3-border w3-light-gray w3-margin-top" type="submit" name="action" value="submit">Submit</button>
    </div>
    {{ form.hidden_tag() }}
</form>
{% endblock %}
