/*
	Copyright 2005, 2006, 2007, 2008 Russell E. Gibson

    This file is part of NewsLedger.

    NewsLedger is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    NewsLedger is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with NewsLedger; see the file LICENSE.  If not, see
	<http://www.gnu.org/licenses/>.
*/

#message
{
	text-align: center;
}
#message .success
{
	color: green;
}
#message .error
{
	color: red;
}
#message > div.error
{
	margin-top: 10px;
}

.bill,
#info
{
	float: left;
	margin: 1em;
}
#info #action
{
	border: 2px solid #e08080;
	padding: 5px;
	text-align: center;
}
#info .field
{
	margin-top: 10px;
}
#info .field .title
{
	font-style: italic;
	text-align: center;
	margin-bottom: 2px;
}
#info .field .data
{
	text-align: center;
	border: 1px solid black;
	padding: 5px;
}
#info #rateOverride
{
	text-align: right;
}

.bill
{
	border: 1px solid #99ccff;
	width: 500px;
	height: 420px;
}
.bill input,
.bill select,
#info select,
#info #export,
#info #stopped,
#info #rateOverride
{
	background-color: #ffffdf;
}
.bill .info
{
	float: left;
	width: 265px;
	line-height: 120%;
}
.bill .info .instructions
{
	background-color: #99ccff;
	color: white;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
}
.bill .info .dealer-address .telephone
{
	font-weight: bold;
}
.bill .info .delivery-address .left
{
	width: 73px;
	float: left;
}
.bill .info .delivery-address .left .title,
.bill .info .delivery-address .left .value
{
	border-right: 1px solid #99ccff;
	text-align: center;
}
.bill .info .delivery-address .left .first
{
	border-top: 1px solid #99ccff;
}
.bill .info .delivery-address .left .last
{
	border-bottom: 1px solid #99ccff;
}
.bill .info .delivery-address .right
{
	float: left;
	margin-left: 5px;
}
.bill .info .delivery-address .right .underlined
{
	text-decoration: underline;
}
.bill .info .line-items
{
	clear: both;
	font-size: 14px;
}
.bill .info .line-items .title
{
	margin-left: 5px;
}
.bill .info .line-items table
{
	width: 265px;
}
.bill .info .line-items table th
{
	font-weight: normal;
	text-align: left;
	width: 170px;
	padding-left: 5px;
}
.bill .info .line-items table td
{
	text-align: right;
	padding-right: 10px;
}
.bill .info .line-items table td input
{
	text-align: right;
}
.bill .info .line-items table tr.total
{
	border-right: 2px solid #99ccff;
	border-top: 2px solid #99ccff;
	border-bottom: 2px solid #99ccff;
}
.bill .info .notes input
{
	text-align: center;
	color: #ff74ff;
}
.bill .info .notes
{
	text-align: center;
	color: #ff74ff;
	font-size: 14px;
}
.bill .stub
{
	float: right;
	width: 205px;
}
.bill .stub .instructions
{
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	border-bottom: 1px solid #99ccff;
	border-left: 1px solid #99ccff;
}
.bill .stub .bill-address input
{
	font-family: monospace;
}
.bill .stub .bill-address
{
	margin-top: 150px;
	margin-bottom: 20px;
}
.bill .stub .bill-address .postal-code
{
	text-align: right;
	margin-right: 30px;
}
.bill .stub .dealer-name,
.bill .stub .period-range
{
	text-align: center;
}
.bill .stub .bill-amount .left,
.bill .stub .bill-amount .right
{
	float: left;
	width: 40%;
	text-align: center;
	padding: 5px;
	border-top: 3px solid #99ccff;
	border-bottom: 3px solid #99ccff;
	font-size: 14px;
	line-height: 130%;
	overflow: hidden;
}
.bill .stub .bill-amount .left
{
	border-left: 3px solid #99ccff;
	border-right: 1.5px solid #99ccff;
}
.bill .stub .bill-amount .right
{
	border-left: 1.5px solid #99ccff;
	border-right: 3px solid #99ccff;
}
.bill .stub .bill-amount .left .value,
.bill .stub .bill-amount .right .value
{
	font-size: 16px;
	font-weight: bold;
}
.bill .stub .tip
{
	clear: both;
}
.bill .stub .tip .title,
.bill .stub .tip .value
{
	float: left;
	width: 50%;
	text-align: center;
	font-size: 14px;
	margin-top: 10px;
}
