
{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customers/payments/create.css') }}">
{% endblock %}

{% block content %}
    <form class="w3-container w3-margin-top w3-center" method="post" action="{{ url_for('customers.payments.create') }}">
	<div class="w3-row">
	    {{ form.customer.label(class='control') }}
            <div class="control">
		{{ form.customer(class='w3-input w3-border control', id='cid', size=6) }}
            </div>
	</div>
	{% if form.customer.errors %}
	    <div class="w3-row">
		<div class="control">
		    {% for error in form.customer.errors %}
			<div class="error">{{ error }}</div>
		    {% endfor %}
		</div>
	    </div>
	{% endif %}
	<div class="w3-row">
	    {{ form.type_.label(class='control') }}
            <div class="control">
		{{ form.type_(class='w3-select w3-border control') }}
            </div>
	</div>
	{% if form.type_.errors %}
	    <div class="w3-row">
		<div class="control">
		    {% for error in form.type_.errors %}
			<div class="error">{{ error }}</div>
		    {% endfor %}
		</div>
	    </div>
	{% endif %}
	<div class="w3-row">
	    {{ form.id_.label(class='control') }}
            <div class="control">
		{{ form.id_(class='w3-input w3-border control') }}
		(Check Number)
            </div>
	</div>
	{% if form.id_.errors %}
	    <div class="w3-row">
		<div class="control">
		    {% for error in form.id_.errors %}
			<div class="error">{{ error }}</div>
		    {% endfor %}
		</div>
	    </div>
	{% endif %}
	<div class="w3-row">
	    {{ form.amount.label(class='control') }}
            <div class="control">
		{{ form.amount(class='w3-input w3-border w3-center control', size=8) }}
            </div>
	</div>
	{% if form.amount.errors %}
	    <div class="w3-row">
		<div class="control">
		    {% for error in form.amount.errors %}
			<div class="error">{{ error }}</div>
		    {% endfor %}
		</div>
	    </div>
	{% endif %}
	<div class="w3-row">
	    {{ form.tip.label(class='control') }}    
            <div class="control">
		{{ form.tip(class='w3-input w3-border w3-center control', size=8) }}
            </div>
	</div>
	{% if form.tip.errors %}
	    <div class="w3-row">
		<div class="control">
		    {% for error in form.tip.errors %}
			<div class="error">{{ error }}</div>
		    {% endfor %}
		</div>
	    </div>
	{% endif %}
	<div class="w3-row">
	    {{ form.notes.label(class='control', id='notes') }}    
            <div class="control">
		{{ form.notes(class='w3-input w3-border control', rows=4, cols=40) }}
            </div>
	</div>
	{% if form.notes.errors %}
	    <div class="w3-row">
		<div class="control">
		    {% for error in form.notes.errors %}
			<div class="error">{{ error }}</div>
		    {% endfor %}
		</div>
	    </div>
	{% endif %}
	<div class="w3-row">
            <button class="w3-button w3-border w3-margin-top control" type="submit" name="action" value="submit">
		Add Payment
	    </button>
	</div>
	{{ form.hidden_tag() }}
    </form>
    {% if result %}
	<hr>
	{{ result|safe }}
    {% endif %}
{% endblock %}
