label.control {
    display: inline-block;
    vertical-align: baseline;
    width: 275px;
    text-align: left;
}

input.control {
    width: auto;
    display: inline-block;
    text-align: right;
}

