td.icon-link
{
    text-align: center;
    vertical-align: middle;
    padding: 0 0;
}

td.icon-link:first-child {
    border-left: 1px solid #ddd;
}

td.icon-link:nth-child(2),
td.icon-link:nth-child(10) {
    padding-right: 8px;
    border-right: 1px solid #ddd;
}

td.icon-link:nth-child(9) {
    padding-left: 8px;
    border-left: 1px solid #ddd;
}

td.icon-link img {
    width: 16px;
    height: 16px;
    margin: 0;
}

#add > div,
#create > div,
#update > div {
    max-width: 600px;
}

#add label.control,
#create label.control,
#update label.control {
    display: inline-block;
    vertical-align: baseline;
    width: 100px;
    text-align: left;
}

#add input.control,
#create input.control,
#update input.control {
    width: auto;
    display: inline-block;
    background-color: #ffffdf;
    text-align: center;
    margin-bottom: 2px;
}

#delete {
    display: none;
}

