
{%- extends "base.html" -%}

{%- block styles -%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customers/combined/index.css') }}">
{%- endblock -%}

{%- block content -%}
<form data-turbo="false" class="w3-container w3-margin-top w3-center" method="post" action="{{ url_for('customers.combined.index') }}">
    <button type="submit" name="action" value="Refresh" class="w3-button w3-border">
	<img src="{{ url_for('static', filename='img/refresh.png') }}" alt="Refresh"/>
    </button>
    <button onclick="create_combined(); return false;" class="w3-button w3-border">
	<img src="{{ url_for('static', filename='img/add_s.png') }}" alt="Add New"/>
    </button>
    <table class="w3-table w3-bordered w3-margin-top centered">
        <thead>
            <tr>
                <th class="w3-center" colspan="2">{{ count }}</th>
                <th>Main ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Second ID</th>
                <th>Name</th>
                <th colspan="3">Address</th>
            </tr>
        </thead>
        <tbody>
	    {%- for c in combined -%}
		{%- if c.count > 1 -%}
		    <tr>
			<td class="icon-link">
			    <img onclick="delete_combined({{ c.id }}, {{ c.others[0].id }})" src="{{ url_for('static', filename='img/delete.png') }}" alt="D" title="Delete Combined Customer">
			</td>
			<td class="icon-link">
			    <img onclick="add_combined({{ c.id }}); return false;" src="{{ url_for('static', filename='img/add.png') }}" alt="A" title="Add another Customer to this Combined Customer">
			</td>
			<td>{{ '%06d'|format(c.id) }}</td>
			<td>{{ c.name }}</td>
			<td>{{ c.address }}</td>
			<td>{{ '%06d'|format(c.others[0].id) }}</td>
			<td>{{ c.others[0].name }}</td>
			<td>{{ c.others[0].address }}</td>
			<td class="icon-link">
			    <img onclick="update_combined({{ c.id }},{{ c.others[0].id }})" src="{{ url_for('static', filename='img/edit.png') }}" alt="E" title="Edit this Combined Customer">
			</td>
			<td class="icon-link">
			    <img onclick="delete_combined({{ c.id }}, {{ c.others[0].id }})" src="{{ url_for('static', filename='img/delete.png') }}" alt="D" title="Delete this Combined Customer">
			</td>
		    </tr>
		    {%- for o in c.others[1:] -%}
			<tr>
			    <td class="icon-link">&nbsp;</td>
			    <td class="icon-link">&nbsp;</td>
			    <td>&nbsp;</td>
			    <td>&nbsp;</td>
			    <td>&nbsp;</td>
			    <td>{{ '%06d'|format(o.id) }}</td>
			    <td>{{ o.name }}</td>
			    <td>{{ o.address }}</td>
			    <td class="icon-link">
				<img onclick="update_combined({{ c.id }},{{ o.id }})" src="{{ url_for('static', filename='img/edit.png') }}" alt="E" title="Edit this Combined Customer">
			    </td>
			    <td class="icon-link">
				<img onclick="delete_combined({{ c.id }},{{ o.id }})" src="{{ url_for('static', filename='img/delete.png') }}" alt="D" title="Delete this Combined Customer">
			    </td>
			</tr>
		    {%- endfor -%}
		{%- else -%}
		    <tr>
			<td class="icon-link">
			    <img onclick="delete_combined({{ c.id }}, {{ c.others[0].id }})" src="{{ url_for('static', filename='img/delete.png') }}" alt="D" title="Delete Combined Customer">
			</td>
			<td class="icon-link">
			    <img onclick="add_combined({{ c.id }}); return false;" src="{{ url_for('static', filename='img/add.png') }}" alt="A" title="Add another Customer to this Combined Customer">
			</td>
			<td>{{ '%06d'|format(c.id) }}</td>
			<td>{{ c.name }}</td>
			<td>{{ c.address }}</td>
			<td>{{ '%06d'|format(c.others[0].id) }}</td>
			<td>{{ c.others[0].name }}</td>
			<td>{{ c.others[0].address }}</td>
			<td class="icon-link">
			    <img onclick="update_combined({{ c.id }},{{ c.others[0].id }})" src="{{ url_for('static', filename='img/edit.png') }}" alt="E" title="Edit this Combined Customer">
			</td>
			<td class="icon-link">&nbsp;</td>
		    </tr>
		{%- endif -%}
	    {%- endfor -%}
	</tbody>
    </table>
</form>
<div id="create" class="w3-modal">
    {%- include 'customers/combined/popups/create.html' -%}
</div>
<div id="add" class="w3-modal">
    {%- include 'customers/combined/popups/add.html' -%}
</div>
<div id="update" class="w3-modal">
    {%- include 'customers/combined/popups/update.html' -%}
</div>
<div id="delete">
    {%- include 'customers/combined/popups/delete.html' -%}
</div>
{%- endblock -%}

{%- block scripts -%}
    <script type="text/javascript">
     function add_combined(id1)
     {
	 // Set main customer id
	 $('#add-id1').val(id1);
	 
	 // Display window
	 show('add');
	 
	 // Set focus to secondary id
	 $('#add-id2').focus();
     }
     
     function create_combined()
     {
	 // Display window
	 show('create');
	 
	 // Set focus to main id
	 $('#create-id1').focus();
     }
     
     function delete_combined(id1, id2)
     {
	 // Set customer id's
	 $("#delete-id1").val(id1);
	 $("#delete-id2").val(id2);

	 // Submit form
	 $("#delete-form").submit();
     }

     function hide(what)
     {
	 // Hide form
	 $('#' + what).css('display', 'none');
     }

     function show(what)
     {
	 // Show form
	 $('#' + what).css('display', 'block');
     }
     
     function update_combined(id1, id2)
     {
	 // Set customer id's
	 $('#update-id1').val(id1);
	 $('#update-id2').val(id2);
	 $('#update-id2-original').val(id2);
	 
	 // Display window
	 show('update');
	 
	 // Set focus to secondary id
	 $('#update-id2').focus();
     }
    </script>
{%- endblock -%}

