table.centered {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

label.control {
    display: inline-block;
    vertical-align: baseline;
    width: 75px;
    text-align: left;
}

input.control,
select.control {
    width: 263px;
    display: inline;
}

