<form class="w3-container w3-margin-top w3-center" method="post" action="{# TODO: #}">
    <div class="w3-modal-content w3-card-4">
	<div class="w3-center w3-padding w3-light-blue">
	    Change Delivery Type
	    <br>
	    <span onclick="document.getElementById('type').style.display='none'" class="w3-button w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
	</div>
	<div class="w3-container w3-margin-bottom">
	    <div class="w3-padding">
		Content goes here
	    </div>
	    <div class="w3-row">
		<label class="control">Example Control</label>
		<input class="w3-input w3-border control" type="text" id="" name="" size="10" required>
	    </div>
	</div>
	<div class="w3-container w3-border-top w3-light-grey w3-padding w3-center">
	    <button class="w3-button w3-border" type="submit">Add</button>
	    <button onclick="document.getElementById('type').style.display='none'; return false;" type="button" class="w3-button w3-border">Cancel</button>
	</div>
    </div>
</form>
