
.w3-dropdown-hover:hover .w3-dropdown-content .w3-dropdown-content {
    display: none;
}

.w3-dropdown-hover:hover .w3-dropdown-hover .w3-dropdown-content .w3-dropdown-content {
    display: none;
}

.w3-dropdown-hover:hover .w3-dropdown-hover:hover .w3-dropdown-content {
    display: inline;
    left: 100%;
}

.w3-dropdown-hover:hover .w3-dropdown-hover .w3-dropdown-hover:hover .w3-dropdown-content {
    display: inline;
    left: 100%;
}

.w3-separator {
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    margin-top: 2px;
    margin-bottom: 2px;
}

body {
    min-width: 800px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.flashes {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}

.flash {
    text-align: center;
    font-size: 125%;
}

.flash .success {
    color: green;
}

div.error,
.flash .fail {
       color: red;
}

div.error {
    margin-top: 10px;
    margin-bottom: 10px;
}
