@media screen {
    button img {
	width: 16px;
	height: 16px;
    }

    input.control {
	display: inline-block;
	width: auto;
	background-color: #ffffdf;
	margin-bottom: 2px;
    }

    div.control {
	display: inline-block;
	min-width: 325px;
	width: auto;
	text-align: left;
    }
    #report-title {
	font-size: 175%;
	text-align: center;
    }
    #report-sub-title {
	font-size: 150%;
	text-align: center;
    }
}

@media print {
    .flashes {
	display: none;
    }
    #menu {
	display: none;
    }
    form {
	display: none;
    }
    #report-title {
	font-size: 175%;
	text-align: center;
    }
    #report-sub-title {
	font-size: 150%;
	text-align: center;
    }
}
