@media screen {
    label.control {
	display: inline-block;
	min-width: 200px;
	vertical-align: baseline;
	text-align: left;
    }
    
    input.control,
    select.control {
	width: auto;
	display: inline-block;
	background-color: #ffffdf;
    }

    div.left {
	min-width: 300px;
	display: inline-block;
	text-align: left;
    }

    div.right {
	min-width: 300px;
	display: inline-block;
	text-align: left;
    }

    #report-title {
	font-size: 175%;
	text-align: center;
    }

    #report-sub-title {
	font-size: 150%;
	text-align: center;
    }

    tr.separator {
	border-top: 2px solid black;
    }
    .section {
	font-size: 125%;
	font-weight: bold;
	text-decoration: underline;
    }
    th {
	min-width: 20%;
    }
    div.telenum,
    div.teletype {
	display: inline-block;
    }
}

@media print {
    .flashes {
	display: none;
    }
    
    #menu {
	display: none;
    }
    
    form {
	display: none;
    }
    
    #report-title {
	font-size: 175%;
	text-align: center;
    }
    
    #report-sub-title {
	font-size: 150%;
	text-align: center;
    }
    
    tr.separator {
	border-top: 2px solid black;
    }

    .section {
	font-size: 125%;
	font-weight: bold;
	text-decoration: underline;
    }
    th {
	min-width: 20%;
    }
    div.telenum,
    div.teletype {
	display: inline-block;
    }
}


