
label.control {
    display: inline-block;
    vertical-align: baseline;
    width: 100px;
    text-align: left;
}

input.control,
select.control {
    width: auto;
    display: inline-block;
    background-color: #ffffdf;
}

div.gutter {
    width: 100px;
    display: inline-block;
}

div.left {
    width: 40%;
    display: inline-block;
    text-align: left;
}
div.right {
    width: 25%;
    display: inline-block;
    text-align: left;
}

td.icon-link {
    text-align: center;
    vertical-align: middle;
    padding: 0 0;
    max-width: 16px;
}

td.icon-link:hover {
    cursor: pointer;
}

td.icon-link:first-child {
    padding-left: inherit !important;
    border-left: 1px solid #ddd;
}

td.icon-link:nth-child(7) {
    padding-right: 8px;
    border-right: 1px solid #ddd;
}

td.icon-link img.icon-link {
    width: 16px;
    height: 16px;
    margin: 0;
}

td:nth-child(14) {
    text-align: right;
}

//----- PAYMENT POPUP

#payment label.control {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
    text-align: left;
}

#payment .top-align {
    vertical-align: top !important;
}

#payment textarea.control,
#payment input.control,
#payment select.control {
    display: inline-block;
    width: auto;
    background-color: #ffffdf;
    margin-bottom: 2px;
}

#payment div.control {
    display: inline-block;
    min-width: 425px;
    width: auto;
    text-align: left;
}

#payment .info {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#payment div.control div.error {
    text-align: left !important;
    margin-left: 70px;
}

//----- SERVICE POPUP

#service label.control {
    display: inline-block;
    vertical-align: baseline;
    width: 10px;
    text-align: left;
}

#service .top-align {
    vertical-align: top !important;
}

#service textarea.control,
#service input.control {
    display: inline-block;
    width: auto;
    background-color: #ffffdf;
    margin-bottom: 2px;
}

#service div.left {
    display: inline-block;
    width: auto;
    margin-bottom: 2px;
}

#service div.right,
#service div.control {
    display: inline-block;
    min-width: 425px;
    width: auto;
    text-align: left;
}

#service .info {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#service div.control div.error {
    text-align: left !important;
    margin-left: 70px;
}
